
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

// @media (prefers-color-scheme: dark) {
//   :root {
    
// }

// * {
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
// }

// html,
// body {
//   width: 100%;
//   max-width: 1400px;
//   overflow-x: hidden;
//   margin: 0 auto;
// }

// body {
//   color: rgb(var(--foreground-rgb));
//   background: linear-gradient(
//       to bottom,
//       transparent,
//       rgb(var(--background-end-rgb))
//     )
//     rgb(var(--background-start-rgb));
// }

// a {
//   color: inherit;
//   text-decoration: none;
// }

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }
// }

//path: app\styles\globals.scss