.main {
    width: 100%;
    max-width: 90em;
    display: flex;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0 auto;
    font-size: clamp($font-size-mobile, 1.5vw, $font-size-desktop-ultra-ultra-wide);
  }
  
  
  .container {
    width: 100%;
    max-width: 90em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: clamp($font-size-mobile, 1.5vw, $font-size-desktop-ultra-ultra-wide);
  }
  