$primary-font: 'DM Sans', sans-serif;
$secondary-font: 'Allerta Stencil', sans-serif;

$font-size-mobile: 0.8rem;
$font-size-tablet: 1.25rem;
$font-size-desktop: 1.563rem;
$font-size-desktop-wide: 1.953rem;
$font-size-desktop-ultra-wide: 2.441rem;
$font-size-desktop-ultra-ultra-wide: 3.052rem;

$font-size-x-small: 0.8rem;
$font-size-small: 1.25rem;
$font-size-normal: 1.563rem;
$font-size-large: 1.953rem;
$font-size-x-large: 2.441rem;
$font-size-xx-large: 3.052rem;