$primary-text-color: #000000;
$secondary-text-color: #ffffff;

$primary-color: #000000;
$secondary-color: #FFFFFF;
$tertiary-color: #707070;
$quaternary-color: #D8D8D8;
$quinary-color: #A18A68; 
$senary-color: #2ecc71;
$septenary-color: #e74c3c;
$octonary-color: #0D1282 ;

$primary-accent-color: #A18A68;

// Path: app\styles\base\_variables.scss