@use './app/styles/base/_reset' as *;
@use './app/styles/base/_reset' as *;
@use './app/styles/base/_typography' as *;
@use './app/styles/base/_variables' as *;
@use './app/styles/utils/_mixins';
@use './app/styles/utils/_functions' as *;

.bannerWrapper{
  position: relative;
  width: 100%;
  max-width: 78rem;
  margin: 0 auto;
  object-position: center;
  object-fit: cover;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 0.5em;
}
  .imgContainer{
    border-radius: 0.5em;
    overflow: hidden;
    margin: 0 auto;
    
    
    img{
      width: 100%;
      margin: 0 auto; 
      height: 100%;
      object-fit: contain;
      object-position: center;
      margin: 0 auto;
      padding: 0 1em;
     }
  }
  
.bannerText{
    font-size: clamp($font-size-mobile, 1.5vw, $font-size-desktop);
    position: absolute;
    top: 35%;
    left: 2em;
    transform: translateY(-50%);
    color: $secondary-color;
    width: 50%;
    max-width: 50%;
    
    button{
        background-color: transparent;
        color: $secondary-color;
        border: 2px solid $secondary-color;
        border-radius: 0.2em;
        padding: 0.3em 1.5em;
        margin-top: 2.5em;
        font-size: clamp($font-size-mobile, 1.5vw, $font-size-desktop);
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
            color: inherit;
        }
        &:focus{
            outline: none;
        }

    }
}




@media screen and (max-width: 768px) {
  .img{
    padding: 0 1em;
  }
  .bannerText{
    font-size: clamp($font-size-mobile, 1.5vw, $font-size-desktop);
    position: absolute;
    top: 70%;
    left: 2em;
    transform: translateY(-50%);
    color: $secondary-color;
    width: 50%;
    max-width: 50%;
  
    button{
        background-color: transparent;
        color: $secondary-color;
        border: 2px solid $secondary-color;
        border-radius: 5px;
        padding: 0.3em 0.5em;
        margin-top: 2.5em;
        font-size: clamp($font-size-mobile, 1.5vw, $font-size-desktop);
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
            color: inherit;
        }
        &:focus{
            outline: none;
        }

    }
}
}