@use './app/styles/base/_reset' as *;
@use './app/styles/base/_reset' as *;
@use './app/styles/base/_typography' as *;
@use './app/styles/base/_variables' as *;
@use './app/styles/utils/_mixins';
@use './app/styles/utils/_functions' as *;

.bannerWrapper{
  position: relative;
  width: 100%;
  max-width: 78rem;
  margin: 0 auto;
  object-position: center;
  object-fit: cover;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 1em;
}

  .imgContainer{
    border-radius: 0.5em;
    overflow: hidden;
    margin: 0 auto;
    
    
    img{
      width: 100%;
      margin: 0 auto; 
      height: 100%;
      object-fit: contain;
      object-position: center;
      margin: 0 auto; 
  }
}


@media screen and (max-width: 768px) {
  
  .bannerWrapper{
    padding: 0.5em;
    // margin-top: 0.2em;
}
}
