.footer{
    width: 100%;
    max-width: 78rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    font-family: "DM Sans", sans-serif;
    border-top: 1px solid #eaeaea;
    a{
        color: #000000;
        text-decoration: none;
        &:hover{
            transform: scale(1.1); 
        }
    }
}
.footerLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 78rem;
    margin: 0 auto;
}