.nav{
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 78rem;
    margin: 0 auto;
    // border: 2px solid black;
    box-sizing: border-box;
    margin-bottom: 1em;
    font-family: "DM Sans", sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.8em;
}
.navLinks{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 600px;
}
.navLinkItem{
    list-style: none;
    margin: 0 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
        
    }
}