@use './app/styles/base/_reset' as *;
@use './app/styles/base/_reset' as *;
@use './app/styles/base/_typography' as *;
@use './app/styles/base/_variables' as *;
@use './app/styles/utils/_mixins';
@use './app/styles/utils/_functions' as *;

.searchBarContainer {
    display: none;
    box-sizing: border-box;
    .searchInput {
        display: none;
    }
   }
  

@media screen and (max-width: 500px) {
    .searchBarWrapper{
        margin: 0 auto;
        width: 100%;
        max-width: 390px;
        display: block;
        padding: 0.5em 0.5em;
        box-sizing: border-box;
        overflow: hidden;
    }
    .searchBarContainer {
        margin: 0 auto;
        font-family: $primary-font;
        box-sizing: border-box;
        padding: 0.5rem;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-basis: 95%;
        background-color: $quaternary-color;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px $quinary-color;
        .searchInput {
            padding:  0 0.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            border: none;
            outline: none;
            background-color: $quaternary-color;
            border-radius: 5px;
            font-size: 1.2rem;
            color: $primary-color;
            padding: 0 1rem;
            &::placeholder {
                color: $primary-color;
            }
        }
    }
    @media screen and (max-width: 350px) {
        .searchBarContainer{
            width: 100%;
            max-width: 350px;
        } 
}
}