@use './app/styles/base/_reset' as *;
@use './app/styles/base/_typography' as *;
@use './app/styles/base/_variables' as *;
@use './app/styles/utils/_mixins';
@use './app/styles/utils/_functions' as *;

.blog-page{
  width: 100%;
  max-width: 78rem;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  // border: 2px solid $primary-accent-color;
  box-sizing: border-box;
  font-family: $primary-font;
  padding: 1em;
  
  h1{
    color: $primary-accent-color;
    font-size: clamp($font-size-desktop, 5vw, $font-size-desktop-ultra-ultra-wide);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
  }
  p{
    font-size: clamp($font-size-mobile, 1.5vw, $font-size-tablet);
    line-height: 1.6;
    margin-bottom: 30px;
    padding: 0.5em;
    color: $primary-color;
  }
}
.blog-container {
  width: 100%;
  max-width: 78rem;
  margin: 0 auto;
  font-family: $primary-font;
  text-align: justify;
  box-sizing: border-box;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin: 2px solid $primary-accent-color;

h1{
    color: $primary-accent-color;
    font-size: clamp($font-size-desktop, 5vw, $font-size-desktop-ultra-ultra-wide);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}
  h2 {
    font-size: clamp($font-size-desktop, 5vw, $font-size-desktop-ultra-ultra-wide);
    text-align: flex-start;
    color: $primary-accent-color;
    margin-bottom: 10px;
}

.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  flex-basis: 48.5%;
  border: 2px solid $primary-accent-color;
  border-radius: 0.9rem;
  margin-bottom: 1em;
}

.article-title {
    font-size: clamp($font-size-mobile, 5vw, $font-size-desktop);
    font-weight: bold;
    margin-bottom: 10px;
    color: $primary-accent-color;
    text-align: flex-start;
    margin-bottom: 1em;
    width: 100%;
    max-width: 78rem;
    padding: 0.5em;
}

.article-date {
  font-size: clamp($font-size-mobile, 1.5vw, $font-size-tablet);
  color: $primary-accent-color;
  margin-bottom: 20px;
  padding: 0.5em;
}

.article-image {
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
  padding: 0;
}

.article-content {
    width: 100%;
    font-size: clamp($font-size-mobile, 1.5vw, $font-size-tablet);
    // line-height: 1.6;
    margin-bottom: 30px;
    padding: 0.5em;
}

}

@media screen and (max-width: 758px) {
  .blog-page{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
  }
  .blog-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
  }
  .article {
    width: 100%;
    margin-bottom: 1em;
  }
}