@use './app/styles/base/_reset' as *;
@use './app/styles/base/_reset' as *;
@use './app/styles/base/_typography' as *;
@use './app/styles/base/_variables' as *;
@use './app/styles/utils/_mixins';
@use './app/styles/utils/_functions' as *;

.container {
  width: 100%;
  max-width: 78rem;
  margin: 0 auto;
  font-family: $primary-font;
  text-align: justify;
  box-sizing: border-box;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 1em;
    box-sizing: border-box;
    border-radius: 0.2em;
    font-size: clamp($font-size-mobile, 1.5vw, $font-size-desktop-ultra-ultra-wide);
    
}
.img-container{
    width: 100%;
    max-width: 78rem;
    margin: 0 auto; 
    padding: 0 0.5em;; 
    object-fit: contain;
    object-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 0.2em;

}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 1em;
       
    }
    .img-container{
       
        padding: 0 0.5em;; 
    
    }
}
    
